<table width="300" height="300">
  <tr>
    <td>
      <div id="field1"></div>
    </td>
    <td>
      <div id="field2"></div>
    </td>
    <td>
      <div id="field3"></div>
    </td>
  </tr>
  <tr>
    <td>
      <div id="field4"></div>
    </td>
    <td>
      <div id="field5"></div>
    </td>
    <td>
      <div id="field6"></div>
    </td>
  </tr>
  <tr>
    <td>
      <div id="field7"></div>
    </td>
    <td>
      <div id="field8"></div>
    </td>
    <td>
      <div id="field9"></div>
    </td>
  </tr>
</table>
