c_line--about {
    display: block;
    position: relative;
}
c_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 330px;
    background-image: url(img/info.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
c_about--title {
    font-size: 3rem;
    color: #434343;
    padding: 10px 25%;
}
c_about--description {
    font-size: 1.7rem;
    line-height: 1.5;
    color: #898a8d;
    padding: 10px 25%;
}
@media all and (max-width: 900px) {

    c_about--title {
        font-size: 1.2rem;
        padding: 10px 5%;
    }
    c_about--description {
        font-size: 1.1rem;
        padding: 10px 5%;
    }
}