c_line--contact {
    display: block;
    position: relative;
}
c_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 330px;
    text-align: center;
    background-image: url(img/info.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
c_contact--title {
    font-size: 2rem;
    color: #434343;
    padding: 10px 25%;
}
c_contact--description {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #898a8d;
    padding: 10px 25%;
}
c_contact--description > a {
    text-decoration: none;
}
@media all and (max-width: 900px) {
    c_contact--title {
        padding: 10px 5%;
    }
    c_contact--description {
        padding: 10px 5%;
    }
}