c_header {
    margin: 0 auto 15px auto;
    padding: 0;
    width: 90%;
    border-bottom: 1px solid #EBECF0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
c_logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
c_logo--title {
    font-size: 2rem;
    color: #434343;
    margin: 25px 0 0 0;
}
c_logo--description {
    color: #abacaf;
    font-size: 1rem;
    margin: 25px 0 25px 0;
}
c_nav {
    list-style: none;
    margin: 0;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
c_nav--item > a {
    text-decoration: none;
    display: block;
    padding: 1em;
    font-size: 1.2rem;
    color: #abacaf;
}
c_nav--item > a:hover {
    color: #434343;
}
@media all and (max-width: 800px) {
    c_nav {
        flex-flow: row wrap;
        justify-content: center;
        padding: 0;
    }
    c_header {
        flex-flow: column wrap;
        padding: 0;
    }
    c_nav > a {
        text-align: center;
        padding: 10px;
    }
}