c_line--info {
    display: block;
    position: relative;
}
c_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
    min-height: 584px;
    text-align: center;
    border-bottom: 1px solid white;
    background-image: url(img/info.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
c_info--title {
    font-size: 3rem;
    color: #434343;
    padding: 10px 25%;
}
c_info--description {
    font-size: 1.7rem;
    line-height: 1.5;
    color: #898a8d;
    padding: 10px 25%;
}
c_info--btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 25%;
}
.btn-gallery {
    border: none;
    width: 200px;
    height: 70px;
    font-size: 1.6rem;
    background-color: #DA5550;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.btn-more {
    border: none;
    width: 200px;
    height: 70px;
    font-size: 1.6rem;
    background-color: #5BB85D;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
@media all and (max-width: 1200px) {
    c_info--title {
        font-size: 1.2rem;
    }
    c_info--description {
        font-size: 1.2rem;
    }
    c_info {
        min-height: 400px;
    }
    .btn-gallery {
        width: 150px;
        height: 50px;
        font-size: 1.2rem;
    }
    .btn-more {
        width: 150px;
        height: 50px;
        font-size: 1.2rem;
    }
}
@media all and (max-width: 900px) {
    c_info--title {
        font-size: 1rem;
    }
    c_info--description {
        font-size: 1rem;
        padding: 10px 5%;
    }
    c_info {
        min-height: 300px;
    }
    .btn-gallery {
        width: 120px;
        height: 50px;
        font-size: 1rem;
    }
    .btn-more {
        width: 120px;
        height: 50px;
        font-size: 1rem;
    }
}