c_items-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 584px;
    text-align: center;
}
c_info--title {
    font-size: 3rem;
    color: #434343;
    margin: 10px 25%;
}
c_info--description {
    font-size: 1.7rem;
    line-height: 1.5;
    color: #898a8d;
    margin: 10px 25%;
}
c_info-select {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn-gallery {
    border: none;
    width: 200px;
    height: 70px;
    font-size: 1.6rem;
    background-color: #DA5550;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
.btn-more {
    border: none;
    width: 200px;
    height: 70px;
    font-size: 1.6rem;
    background-color: #5BB85D;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

c--group--items-design {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 432px;
}
c--item--design-d {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 40px 20px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background-color: #E4E8E8;
    text-align: center;
}
c--design-d-title {
    font-size: 2rem;
    color: #434343;
    margin: 0 15px;
}
c--design-d-description {
    font-size: 1.2rem;
    color: #434343;
    margin: 0 15px;
}
c--item--design-i {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 40px 20px;
    margin: 0 1px 1px 0;
    cursor: pointer;
    background-color: #9b9b9b;
    text-align: center;
}
c--design-i-title {
    font-size: 2rem;
    color: #fdfdfd;
    margin: 0 15px;
}
c--design-i-description {
    font-size: 1.2rem;
    color: #fdfdfd;
    margin: 0 15px;
}
c--item--design-e {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 40px 20px;
    margin: 0 1px 1px 0;
    cursor: pointer;
    background-color: #656565;
    text-align: center;
}
c--design-e-title {
    font-size: 2rem;
    color: #fdfdfd;
    margin: 0 15px;
}
c--design-e-description {
    font-size: 1.2rem;
    color: #fdfdfd;
    margin: 0 15px;
}
c--item--design-m {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 40px 20px;
    margin: 0 1px 1px 0;
    cursor: pointer;
    background-color: #434343;
    text-align: center;
}
c--design-m-title {
    font-size: 2rem;
    color: #fdfdfd;
    margin: 0 15px;
}
c--design-m-description {
    font-size: 1.2rem;
    color: #fdfdfd;
    margin: 0 15px;
}
.fa-bolt {
    color: white;
}
.fa-thumbs-up {
    color: white;
}
.fa-bar-chart {
    color: white;
}

@media all and (max-width: 1200px) {
    c_info--title {
        font-size: 1.2rem;
    }
    c_info--description {
        font-size: 1.2rem;
    }
    c_items-info {
        min-height: 400px;
    }
    .btn-gallery {
        width: 150px;
        height: 50px;
        font-size: 1.2rem;
    }
    .btn-more {
        width: 150px;
        height: 50px;
        font-size: 1.2rem;
    }
}

@media all and (max-width: 900px) {
    c_info--title {
        font-size: 1rem;
    }
    c_info--description {
        font-size: 1rem;
        margin: 10px 5%;
    }
    c_items-info {
        min-height: 300px;
    }
    .btn-gallery {
        width: 120px;
        height: 50px;
        font-size: 1rem;
    }
    .btn-more {
        width: 120px;
        height: 50px;
        font-size: 1rem;
    }
    c--group--items-design {
        flex-direction: column;
    }
    c--item--design-d {
        padding: 40px 0;
    }
    c--item--design-i {
        padding: 40px 0;
    }
    c--item--design-e {
        padding: 40px 0;
    }
    c--item--design-m {
        padding: 40px 0;
    }
}