c_line--teams {
    display: block;
}
c_teams {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 252px;
}
c_team1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 40px 20px;
    margin: 0 1px 1px 0;
    cursor: pointer;
    background-color: #AB5522;
}
c_team1--title {
    font-size: 2rem;
    color: #ffffff;
    padding: 0 15px;
}
c_team1--description {
    font-size: 1.2rem;
    color: #ffffff;
    padding: 0 15px;
}
c_team2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 40px 20px;
    margin: 0 1px 1px 0;
    cursor: pointer;
    background-color: #2287BB;
}
c_team2--title {
    font-size: 2rem;
    color: #ffffff;
    padding: 0 15px;
}
c_team2--description {
    font-size: 1.2rem;
    color: #ffffff;
    padding: 0 15px;
}
c_team3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 40px 20px;
    margin: 0 1px 1px 0;
    cursor: pointer;
    background-color: #459967;
}
c_team3--title {
    font-size: 2rem;
    color: #ffffff;
    padding: 0 15px;
}
c_team3--description {
    font-size: 1.2rem;
    color: #ffffff;
    padding: 0 15px;
}
c_team4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 40px 20px;
    margin: 0 1px 1px 0;
    cursor: pointer;
    background-color: #A4A530;
}
c_team4--title {
    font-size: 2rem;
    color: #ffffff;
    padding: 0 15px;
}
c_team4--description {
    font-size: 1.2rem;
    color: #ffffff;
    padding: 0 15px;
}
@media all and (max-width: 900px) {
    c_teams {
        flex-direction: column;
        width: calc(100% - 40px);
    }
}