.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 1.2rem 0 0 0;
}
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1rem;
    margin: 4px 2px;
    cursor: pointer;
}
button.active {
    background-color: #1f1c40;
    color: white;
}
page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}